<p>
  <a href='/people.json'>people</a>
</p>
<p>
  <a href='/news_items.json'>news_items</a>
</p>
<p>
  <a href='/bibliography_items.json'>bibliography_items</a>
</p>
<p>
  <a href='/projects.json'>projects</a>
</p>
<p>
  <a href='/awards.json'>awards</a>
</p>
<p>
  <a href='/awards.json'>awards</a>
</p>
