<tr>
  <td>
    <%= f.object.person.name if f.object.person %>
  </td>

  <td>
    <%= f.object.position.title if f.object.position %>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to("#{fa_icon "trash"}".html_safe, '#',  :data => { :confirm => "Are you sure you want to delete this?" }) %>
  </td>

</tr>
