<%#<div class="row">%>
<%#<div class="col-lg-6">%>
<%#<%= casein_number_field f, f.object, :rank %>%>

<%#<%= f.check_box :_destroy %>%>
<%#<%= f.label :_destroy, "Delete it!" %>%>
<%#</div>%>

<%#<div class="col-lg-6">%>
  <%#<%= image_tag f.object.name, class:"img-responsive" if f.object.is_image %>%>
<%#</div>%>
  
<%#</div>%>
