<div class="row">
  <h2>Bib</h2>
  <table class='table'>
  <%= f.fields_for :bibliography_items do |builder| %>
    <%= render "form_for_awards", f:builder %>
  <% end %>
  </table>
</div>
<%= link_to_add_fields "Add Bibs", f, :bibliography_items %>
