<div class='row'>
  <div class='col-md-6'>

    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">New Role <%= fa_icon 'close', class: "pull-right" %> </h3>
      </div>

      <div class='panel-body'>
        <div class='col-md-6'>
          <%= f.input :person_id, collection: Person.all, prompt: "Select a person" %>
        </div>
        <div class='col-md-6'>
          <%= f.input :position_id, collection: Position.all, prompt: "Select a position" %>
        </div>
      </div>
    </div>
  </div>
</div>
