<div class='row'>
  <div class='col-md-6'>
    <%= f.input :person_id, collection: Person.all, prompt: "Select a person" %><br />
  </div>
  <div class='col-md-6'>
    <%= f.input :position_id, collection: Position.all, prompt: "Select a position" %><br />
  </div>
</div>
