<h2><%= @title %></h2>

<%= simple_form_for @project, :url => admin_projects_path do |f| %>

  <%= render :partial => 'admin/projects/form', :locals => { :f => f } %>
	
  <p class="submits">

  <%= render :partial => 'admin/shared/form_buttons', :locals => { f: f, item: @project } %>

<% end %>
