<table class="table table-striped table-hover table-condensed index-table">
	<thead>
		<tr>
			<th>title</th>
			<th>created</th>
      <th>has image</th>
      <th>newsbox</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<% news_items.each do |news_item| %>
		<tr>
			<td><%= link_to news_item.title, admin_news_item_path(news_item) %></td>
			<td><%= news_item.created_at.strftime('%x') %></td>
      <td><%= news_item.primary_image ? "#{fa_icon "check 1x"}".html_safe : "false" %>
      <td><%= news_item.in_news_box ? "#{fa_icon "check 1x"}".html_safe : "false" %>
			<td class="delete">
			</td>
		</tr>
	<% end %>
</table>
