<h2>View news item</h2>

<%= simple_form_for @news_item, :url => admin_news_item_path(@news_item) do |f| %>

  <%= render :partial => 'admin/news_items/form', :locals => { :f => f } %>

  <p class="submits">
  <%= link_to 'Cancel', admin_news_items_path, :class => 'btn btn-mini btn-danger' %>
  <%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
  </p>

<% end %>
