<table class="table table-striped">
	<thead>
		<tr>
      <th>title</th>
      <th>Image</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<% uploads.each do |upload| %>
		<tr>
      <td><%= upload.title %>
			<td class="delete"> </td>
			<td class="delete"> </td>
		</tr>
	<% end %>
</table>
