<div class="row">
	<div class="col-sm-6">
		<h2><%= @title %></h2>
	</div>

	<div class="col-sm-6 right">
		<%= link_to "manage file types", admin_file_types_path, class: "pull-right" %><br>
		<%= link_to "manage credits", admin_credits_path, class: "pull-right" %><br>
	</div>
</div>

<%= render :partial => 'admin/uploads/table', :locals => { :uploads => @uploads } %>
