<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">Components</h3>
      </div>
      <div class='panel-body'>

        <div class="row">
          <table class='table'>
            <%= f.fields_for :components do |builder| %>

							<div class='row'>
								<div class='col-md-12'>

									<div class='panel panel-default'>
										<div class="panel-heading">
											<h3 class="panel-title">Component</h3>
										</div>

										<div class='panel-body'>
											<div class='row'>
												<div class="col-md-12">
													<%= builder.input :title %>
													<%= builder.input :content %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

            <% end %>
          </table>
        </div>

				<%= link_to_add_fields "Add component", f, :components %>

      </div>
    </div>
  </div>
</div>
