<div class="row">
  <h2>Awards</h2>
  <table class='table'>
    <%= f.fields_for :awards do |builder| %>
      <%= render "admin/projects/formpartials/form_for_awards", f:builder %>
    <% end %>
  </table>
</div>
<%= link_to_add_fields "Add Award", f, :awards %>
