 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'trumbowyg/trumbowyg';
 @import "font-awesome";

.thumby {
  height: 100px;
}

.popover-content {
  width: 500px;
  border: 0px;
  padding: 0;
  overflow: visible;
}

.inline-inputs * {
	display: inline
}

.image-table-row {
	margin-bottom: 25px;
}

.image-table-row .col-sm-8 .row {
	margin: 20px;
}

.right {
	text-align: right;
}
