<li id="tab-people"><%= link_to "People", admin_people_path %></li>
<li id="tab-news_items"><%= link_to "News items", admin_news_items_path %></li>
<li id="tab-projects"><%= link_to "Projects", admin_projects_path %></li>
