<p class="submits">
<% if item.new_record? %>
  <%= link_to 'Cancel', send("admin_#{f.object.class.to_s.pluralize.underscore}_path"), :class => 'btn btn-mini btn-danger' %>
<% else %>
  <%= link_to 'Cancel', send("admin_#{f.object.class.to_s.pluralize.underscore}_path"), :class => 'btn btn-mini btn-danger' %>
  <%= link_to fa_icon("trash", text: "Destroy"), send("admin_#{f.object.class.to_s.underscore}_path", item), method: :delete, class: 'btn btn-mini btn-danger pull-right', data: { confirm: "are you sure? it'll be gone forever" } %>
<% end %>

<%= f.submit "Save", :class => "btn btn-mini btn-primary" %>
</p>
