<li><%= link_to 'projects', admin_projects_path, class: 'navbar-brand' %></li>
<li><%= link_to 'people', admin_people_path, class: 'navbar-brand' %></li>
<li><%= link_to 'news', admin_news_items_path, class: 'navbar-brand' %></li>
