<table class="table table-striped table-hover table-condensed index-table">
	<thead>
		<tr>
			<th>title</th>
			<th>created</th>
      <th>image</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<% awards.each do |award| %>
		<tr>
			<td><%= link_to award.title, admin_award_path(award) %></td>
			<td><%= award.created_at.strftime('%x') %></td>
      <td><%= award.primary_image ? fa_icon("check", class: "pull-right", style: "color:green") : fa_icon("close", class: "pull-right", style: "color: red") %>
			<td class="delete">
			</td>
		</tr>
	<% end %>
</table>
