<div class="row">
	<div class="col-sm-6">
		<h2><%= @title %></h2>
	</div>

	<div class="col-sm-6 right">
		<%= link_to fa_icon("plus", text: "add award").html_safe, new_admin_award_path, class: "btn btn-primary" %><br>
	</div>
</div>


<%= render :partial => 'admin/awards/table', :locals => { :awards => @awards } %>
