<h1><%= @title %></h1>

<%= simple_form_for @award, :url => admin_awards_path do |f| %>

  <%= render :partial => 'admin/awards/form', :locals => { :f => f } %>
	
  <%= render :partial => 'admin/shared/form_buttons', :locals => { f: f, item: @award } %>

<% end %>
